{% extends "inicio/base.html" %}

{% block head_content %} 

<title>Acceso al sistema</title>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <br><br>
            <form action="{% url "login" %}" method="POST" class="white z-depth-3 col s12 m6 l4">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Usernane">
                <input type="password" name="password" placeholder="Password">
                <br><br>
                <button class="btn" type="submit">Sign In!</button>
                <br><br>
            </form>
        </div>
    </div>
{% endblock %}