{% load static %}
      <nav>
        <div class="nav-wrapper red accent-4">
          <a href="#!" class="brand-logo">Logo</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="inicio.html">Inicio</a></li>
            <li><a href="nuevo.html">Nuev</a></li>
            <li><a href="ver_anteriores.html">Ver Anteriores</a></li>
            <li><a href="salir.html">Salir</a></li>
          </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="inicio.html">Inicio</a></li>
        <li><a href="nuevo.html">Nuev</a></li>
        <li><a href="ver_anteriores.html">Ver Anteriores</a></li>
        <li><a href="salir.html">Salir</a></li>
    </ul>