{% load static %}
      <nav>
        <div class="nav-wrapper red accent-4">
          <a href="#!" class="brand-logo">Logo</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/inicio/nuevo">Nuevo</a></li>
            <li><a href="ver_anteriores.html">Ver Anteriores</a></li>
            <li><a href="/inicio/logout">Salir</a></li>
          </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/inicio/nuevo">Nuevo</a></li>
        <li><a href="ver_anteriores.html">Ver Anteriores</a></li>
        <li><a href="/inicio/logout">Salir</a></li>
    </ul>